@model SysAgropec.Models.FazendaViewModel
@{
    ViewBag.Title = "Adicionar Fazendas";
    Layout = "~/Views/Shared/Layout.cshtml";
    
}


@Styles.Render("~/bundles/fileinput")
@Scripts.Render("~/bundles/jquery-fileinput")
@Scripts.Render("~/bundles/Fazenda")



<h3><i class="fa fa-angle-right"></i> Cadastro de Fazendas</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Preencha os campos para efetuar o cadastro.</h4>
            @using (Html.BeginForm("Insert", "Fazenda", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline" }))
            {    <fieldset class="form-group">
                    <legend>Dados da Fazenda</legend>
                    <div class="form-group">
                        <label class="control-label">CNPJ:</label>
                        @Html.TextBoxFor(model => model.Cnpj, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Razão Social:</label>
                        @Html.TextBoxFor(model => model.Razaosocial, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Nome Fantasia:</label>
                        @Html.TextBoxFor(model => model.Nomefantasia, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Inscrição Municipal:</label>
                        @Html.TextBoxFor(model => model.Inscricaomunicipal, new { @class = "form-control" })
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label for="exampleInputEmail2">Inscrição Estadual:</label>
                        @Html.TextBoxFor(model => model.Inscricaoestadual, new { @class = "form-control" })
                    </div>

                </fieldset>
                <br /><br />
                <fieldset class="form-group">
                    <legend>Endereço</legend>
                    <div class="form-group">
                        <label for="exampleInputPassword2">CEP: </label>
                        @Html.TextBoxFor(model => model.Cep, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Logradouro: </label>
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Nº: </label>
                        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword2">Complemento: </label>
                        @Html.TextBoxFor(model => model.Complemento, new { @class = "form-control"})
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Bairro: </label>
                       @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Cidade: </label>
                        @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Estado: </label>
                        @Html.TextBoxFor(model => model.Estado, new { @class = "form-control", required = "required" })
                    </div>
                </fieldset>
                <br><br>

                <label for="exampleInputPassword2">Logo: (Arquivos permitidos: JPG, GIF, PNG)</label>

                //@Html.TextBoxFor(model => model.Logo, new { @class="file", type="file", accept=".jpg,.gif,.png"})
                
                <input type="file" accept=".jpg,.gif,.png" class="file" id="Logo" name="Logo" />

                <br><br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Incluir</button>
                </div>
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    $(".file").fileinput({
        language: "pt-BR",
        uploadUrl: "UploadImage",
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        showUpload: false,
        browseClass: "btn btn-primary btn-lg",
        fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        showCaption: false,
        maxFilesNum: 1,
        showPreview: true,
        allowedFileTypes: ['image'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }


    }).on("filebatchselected", function (event, files) {

        $(".file").fileinput("upload");

    });



</script>